// import modules _vars.scss
@import "./modules/vars";
@import "./modules/nav";
@import "./modules/general";
@import "./modules/home";
@import "./modules/about";
@import "./modules/project";
@import "./modules/services";
@import "./modules/blog";
@import "./modules/footer";
@import "./modules/queries";

#__nuxt {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.blog-layout {
  width: 100% !important;
  height: auto !important;
  position: relative !important;
}

.scroll-content {
  background-color: $primary-white;
}

.page-enter-active,
.page-leave-active {
  transition: opacity 0.5s;
}
.page-enter,
.page-leave-to {
  opacity: 0;
}

@keyframes bounce {
  0% {
    transform: translateY(0) rotate(90deg);
  }
  50% {
    transform: translateY(-10px) rotate(90deg);
  }
  80% {
    transform: translateY(0) rotate(90deg);
  }
  100% {
    transform: translateY(0) rotate(90deg);
  }
}
