.post {
  width: 100%;
  max-width: 1500px;
  margin: 140px auto 0;

  &__top {
    width: 80%;
    margin: 0 auto;
  }

  &__back {
    color: $primary-black;
    font-size: 1.3rem;
    font-weight: bold;
    text-decoration: none;
    border-bottom: solid 3px transparent;
    transition: border-bottom 0.3s;

    &:hover {
      cursor: pointer;
      border-bottom: solid 3px $primary-black;
    }
  }

  &__image {
    width: 100%;
    height: min(820px, 50vw);
    object-fit: cover;
    border-radius: 17px;
    margin: 62px 0;
  }
  
  &__title {
    font-size: 92px;
    font-weight: bold;
    line-height: 113%;
    width: 720px;
    color: $primary-black;
    margin-top: 25px;
  }

  &__previewText {
    font-size: 1rem;
    color: $primary-black;
    line-height: 164%;
    width: 90%;
    font-style: italic;
    margin-top: 18px;
  }

  &:last-child {
    margin-bottom: 82px;
  }
}