#wrapper {
  width: 88%;
  margin: 0 auto;
  font-family: 'Heebo';
}

.image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  background-color: transparent;
  border-radius: min(12%, 70px);

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: scale(1.3);
  z-index: -1;
}

.hero {
  margin: 100px 0;

  &__image {
    margin-top: 75px;
    transform: scale(1.05);
  }
}

.title {
  color: $primary-black;
  font-size: 56px;
  font-weight: bold;
  line-height: 97.9%;
  margin-bottom: 13px;

  &--cta {
    margin-bottom: 29px;
  }

  &--period {
    color: $primary-blue;
  }

  &--home {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    width: min(100%, 460px);
    margin: 0 auto;

    &--name {
      font-size: 33px;
    }

    &--role {
      font-size: 63px;
    }

    &--dev {
      align-self: center;
      margin-left: auto;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        display: block;
        width: 33%;
        height: 6px;
        background-color: $primary-blue;
        margin-top: 7px;
      }
    }
  }

  &--about {
    margin-bottom: 11px;
  }
}

.pipe {
  color: $primary-blue;
}

.subtitle {
  color: $primary-black;
  font-size: 16px;
  font-weight: 500;
  line-height: 140%;
  width: 80%;
}

.para {
  line-height: 140%;
  color: $primary-black;
  font-weight: 500;

  &--project {
    width: 85%;
  }
}

.cta {
  margin-bottom: 80px;
  &__links {
    display: flex;
    flex-direction: column;
    gap: 21px;
  }

  &__link {
    color: $primary-black;
    font-weight: bold;
    font-size: 34px;
    text-decoration: none;
    display: flex;
  }

  &__arrow {
    width: 30px;
    margin-left: 12px;
  }
}