.home {

  &__hero {
    padding: 100px 0;
    margin: 0;
    display: flex;
    flex-direction: column;
  }

  &__subtitle {
    margin-top: 30px;
    width: 265px;
    line-height: 160%;
    color: $primary-black;
    font-weight: 500;
  }

  &__arrow {
    width: 18px;
    filter: brightness(0);
    margin: auto auto 55px;
    transform: rotate(90deg);
    display: none;
    animation: bounce 3s cubic-bezier(0.85, 0, 0.15, 1) infinite;
  }

  &__services, &__about {
    margin: 200px 0;
  }

  &__images, &__projects {
    display: flex;
    flex-direction: column;
    gap: 60px 0;
  }

  &__aboutWrapper {
    .image-container {
      width: 200px;
      margin: 38px auto;
    }
  }

  &__profileImg {
    transform: scale(1.20);
  }

  &__projects {
    margin-bottom: 100px;
  }

  &__project {
    display: flex;
    width: min(93%, 633px);
    margin: 0 auto;
    text-decoration: none;
    position: relative;

    &--right {
      margin-left: 20px;
    }

    &--left {
      margin-right: 20px;
    }

    &--leftSmall {
      margin-right: 20px;
    }

    h2 {
      font-weight: bold;
      color: $primary-black;
      margin: auto 0 25px 0;
      font-size: 16px;
      background-color: $primary-white;
      text-align: center;
      padding: 14px min(8%, 150px);
      border-radius: 99999px;
    }
  }

  &__info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 20px;
  }

  &__plus {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $primary-black;
    width: 42px;
    height: 42px;
    background-color: $primary-white;
    border-radius: 99999px;
    font-size: 20px;
    margin: auto 0 25px 0;
  }

  &__outcome {
    font-size: 22px;
    font-weight: bold;
    color: $primary-black;
    transition: opacity 0.3s ease-in-out;
    opacity: 1;

    &--fade {
      opacity: 0;
    }
  }

  &__growthText {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 140%;
      color: $primary-black;
    }
  }
}

.bio {
  &__para {
    line-height: 145%;
    color: $primary-black;
    font-weight: 500;
    margin: 34px 0 18px;
  }

  &__links {
    display: flex;
    gap: 15px;
  }

  &__btn {
    text-decoration: none;
    width: 145px;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 9px;
    font-weight: bold;

    &--dark {
      background-color: #2B2B2B;
      color: #FAFAFA;
    }

    &--light {
      color: $primary-black;
      border: solid 2px $primary-black;
    }
  }
}