.project {
  &__content {
    margin: 161px 0;
  }

  &__sectionName {
    display: none;
  }

  &__techUsed {
    margin-bottom: 20px;

    &--pipe {
      color: $primary-blue;
    }
  }

  &__scroll {
    display: flex;
    overflow-x: auto;
    padding: 15px 0;
    gap: 30px;
  }

  &__images {
    margin: -100px 0 161px;
  }

}

.image-container--project {
  flex: 1 0 auto;
  width: 250px;
}