@media screen and (min-width: 390px) {
  .nav {
    &__links {
      gap: 65px
    }

    &__socials {
      margin-bottom: 44px;

      a {
        font-size: 18px;
      }
    }

    &__link {
      &--name { font-size: 22px; }
    }

    &__close {
      top: 24px;
      right: 40px;
      font-size: 17px;
    }
  }

  .about__para {
    font-size: 18px;
  }

  .title {
    font-size: 64px;

    &--home {
      &--name {
        font-size: 34px;
      }

      &--role {
        font-size: 68px;
      }
    }
  }

  .hero {
    margin: 120px 0;
  }

  .services {
    &__para, &__listItem { font-size: 17px; }
  }
}

@media screen and (min-width: 768px) {
  .hero {
    margin: 170px 0;

    &--project {
      .image-container {
        width: 86%;
        margin: 100px auto;
      }
    }
  }

  .nav {
    &__wrapper {
      padding: 18px 25px;
    }

    &__line {
      width: 30px;
      height: 3px;
      margin: 6px 0;
    }

    &__link {
      font-size: 69px;

      &--name {
        font-size: 30px;
        letter-spacing: 0.8px;
      }
    }

    &__socials {
      margin-bottom: 40px;

      a {
        font-size: 20px;
      }
    }

    &__links { gap: 90px; }

    &__list { padding: 0 60px; }

    &__close {
      top: 35px;
      right: 59px;
      width: 45px;
      height: 45px;
      font-size: 22px;
    }
  }

  .title {
    font-size: 110px;
    &--home {
      &--name {
        font-size: 56px;
      }

      &--role {
        font-size: 120px;
      }

      &--about {
        margin-bottom: 20px;
        font-size: 100px;
        width: 72%;
      }

      &--dev {
        &::after {
          height: 11px;
          margin-top: 30px;
        }
      }
    }

    &--cta {
      width: 700px;
    }
  }

  .para {
    &--project {
      width: 90%;
      font-size: 22px;
      max-width: 724px;
    }
  }

  span.title--home--role:nth-child(2) {
    margin: 10px 0 0;
  }

  span.title--home--role:nth-child(3) {
    margin-top: 30px;
  }

  .home {
    &__project {
      width: min(77%, 633px);

      &--left {
        margin-right: 0;
      }

      &--right {
        margin-left: 8px;
      }

      h2 {
        margin: auto 0 35px 0;
        font-size: 20px;
        padding: 20px min(7%, 150px);
      }
    }

    &__info {
      padding: 0 35px;
    }

    &__plus {
      width: 50px;
      height: 50px;
      font-size: 28px;
      margin: auto 0 45px 0;
    }

    &__images, &__projects {
      gap: 150px 0;
    }

    &__hero {
      margin: 240px 0 280px;
    }
  }

  .image-container {
    border-radius: min(9%, 70px);
  }

  .footer {
    &__cta {
      gap: 12px;
      align-items: center;
      margin: 0 auto 24px;
      max-width: 586px;

      h2 { font-size: 62px; }

      h3 {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        font-size: 19px;
        
        &::before {
          width: min(61%, 353px);
          height: 3px;
          left: 0;
          top: initial;
        }
      }
    }

    &--home {
      margin: 50px auto 60px;
      width: 76%;
    }

    &__roles, &__socials {
      margin: 19px auto;
      font-size: 18px;
      max-width: 586px;
    }

    &__buttons {
      margin: 60px 0 0;
    }

    &__button {
      width: 190px;
      padding: 21px 0;
      font-size: 21px;
    }

    &__content {
      font-size: 16px;
    }
  }

  #about { gap: 290px; }

  .about {
    &__roles { font-size: 34px; }

    &__para { font-size: 23px; }

    &__subtitle { font-size: 40px; }

    &__container { 
      gap: 50px;
      margin-top: 60px; 
    }

    &__hero {
      margin-bottom: 100px;
    }

    &__techContainer {
      gap: 48px;
      margin: 80px auto;
      max-width: 900px;

      &::before, &::after {
        width: 75px;
      }

      &::before {
        top: -35px;
      }

      &::after {
        bottom: -35px;
        right: 0;
      }
    }

    &__techs {
      gap: 22px;
      font-size: 21px;
    }
  }

  .para--small {
    font-size: 18px;
  }

  .work {
    &__images {
      margin-bottom: 290px;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 25px;
    }

    .image-container {
      border-radius: min(13%, 70px);
      width: min(48%, 633px);
    }

    &__info {
      padding: 0 22px;

      h2 {
        margin-bottom: 25px;
        font-size: 18px;
        padding: 18px min(7%, 150px);
      }
    }

    &__plus {
      width: 40px;
      height: 40px;
      margin-bottom: 30px;
    }
  }

  .project {
    
    .title { 
      margin-bottom: 45px;
    }
    
    .subtitle {
      font-size: 24px;
    }

    &__content {
      margin: 300px 0;

      .title { 
        font-size: 90px;
        margin-bottom: 33px; 
      }
    }

    &__images {
      &--dual {
        margin-top: -225px;

        .project__scroll {
          flex-direction: column;
          gap: 70px;
        }
      }

      &--tri {
        margin-top: -195px;
        .image-container--project {
          width: 310px;
        }
        .project-scroll {
          flex-direction: row;
          gap: 45px;
        }
      }
    }

    &__images:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
      margin-left: 15px;
      width: 387px;
    }

    &__images:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
      margin-left: auto;
      margin-right: 84px;
      width: 329px;
    }

    &__techUsed {
      font-size: 22px;
    }
  }

  .services {
    &__item {
      width: 80%;
      max-width: 800px;
      margin: 190px auto;
    }

    &__title {
      gap: 30px;

      &::after {
        width: 30%;
        height: 5px;
      }
    }

    &__name { font-size: 90px; }

    &__price { font-size: 32px; }

    &__para, &__listItem { font-size: 24px; }

    &__para {
      width: 86%;
      margin: 35px 0 50px;
    }

    &__list { gap: 25px; }

    &__listItem {
      gap: 11px;
      width: 80%;
    }

    &__arrow {
      width: 12px;
      margin-top: 10px;
    }

    &__btn {
      font-size: 30px;
      margin: 50px 0 50px auto;
    }
  }

  .contact {
    &__hero {
      .title { width: 572px; }

      .about__para {
        width: 555px;
      }
    }

    &__links {
      gap: 120px;
    }

    &__link {
      font-size: 90px;
      width: 532px;
    }
  }

  .cta {
    &__links {
      flex-direction: row;
      justify-content: space-between;
    }

    &__arrow {
      display: flex;
    }
  }
}

@media screen and (min-width: 825px) {
  .nav {
    &__list {
      width: 71%;
      max-width: 645px;
    }
  }
}

@media screen and (min-width: 1000px) {
  span.title--home--role:nth-child(2) {
    margin:20px 0 0;
   }

   span.title--home--role:nth-child(3) {
    margin-top:40px;
   }   

  .title {
    &--home {
      width: min(100%, 1045px);
      &--name {
        font-size: 80px;
      }

      &--role {
        font-size: 140px;
      }

      &--dev {
        &::after {
          margin-top: 0;
          width: 115px;
          top: 50%;
          left: -23%;
        }
      }
    }

    &--about {
      width: 572px;

      &--techs, &--passions {
        width: 499px;
      }
    }
  }

  .about {
    &__techContainer {
      gap: 88px;

      &::before, &::after {
        width: 130px;
      }
    }

    &__techs {
      font-size: 22px;
      gap: 32px;
    }
  }
}

@media screen and (min-width: 1100px) {
  .contact {
    &__hero {
      .about__para { width: 635px; }
    }
    &__links {
      gap: 180px;
      div:first-child {
        a {width: 966px;}
      }
    }
  }
}

@media screen and (min-width: 1360px) {
  .nav {
    &--dark {
      background-color: transparent;

      .nav__wrapper {
        background-color: rgba(56,56,56, 0.97);
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
        width: 55%;
        max-width: 1100px;
      }
    }

    &__wrapper {
      padding: 22px 62px;
      position: fixed;
      width: 90%;
      max-width: 90%;
      margin-top: 1%;
      left: 50%;
      transform: translateX(-50%);
      border-radius: 9999999px;
      filter: drop-shadow(0px 4px 4px transparent);
      background-color: transparent;
      transition: all 0.6s cubic-bezier(0.33, 1, 0.68, 1);
    }
  }
  .hero {
    margin: 245px 0;
  }

  .image-container {
    max-width: 880px;

    &--project {
      flex: none;
    }
  }

  .para {
    &--small {
      font-size: 20px;
    }

    &--project {
      width: 59%;
      font-size: 23px;
      max-width: 819px;
    }
  }

  .home {
    max-width: 1700px;
    margin: 0 auto;

    &__projects, &__images {
      gap: 40px 135px;
      align-items: flex-start;
      width: 100%;
      justify-content: center;
      margin-bottom: 120px;
    }

    &__projects {
      flex-direction: column;
    }

    &__images {
      flex-direction: row;

      &:nth-child(1) > a:nth-child(1) {
        width: 55%;
      }

      &--mid {
        .image-container {
          width: 100%;
        }
      }
    }

    &__project {
      h2 {
        font-size: 22px;
        padding: 22px min(10%, 36px);
      }

      &--right:nth-child(2) {
        width: 35%;
        justify-self: flex-end;
        margin-top: auto;
      }

      &--right:nth-child(1) {
        width: 39%;
        margin-top: 200px;
      }

      &--left {
        margin-right: auto;
      }

      &--leftSmall {
        width: 49%;
      }
      
    }

    &__info {
      justify-content: flex-start;
    }

    &__plus {
      font-size: 27px;
      margin: auto 0 41px 20px;
    }
  }

  #about {
    gap: 350px;
    max-width: 1400px;
    margin: 0 auto;
  }

  .about {
    &__container {
      margin-top: 120px;
      gap: 50px;
      flex-direction: row;
    }

    &__hero {
      .about__para {
        width: 690px;
      }
    }

    &__content {
      width: 410px;
    }

    &__techContainer {
      margin: 125px auto;
    }
  }

  .project {
    max-width: 1600px;
    margin: 0 auto;

    .hero--project {
      margin-top: 220px;
    }

    .hero__image {
      width: 68%;
      margin: 160px auto;
    }

    &__content {
      width: 1250px;
      margin: 300px auto;
      position: relative;
    }

    .title {
      width: 829px;
    }

    &__sectionName {
      display: block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      right: 5%;
      font-size: 28px;
      font-family: "Heebo", sans-serif;
      font-weight: bold;
      color: $primary-black;

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: -100%;
        width: 48px;
        height: 4px;
        background-color: $primary-blue;
      }
    }

    &__images {
      &:nth-child(2) > div:nth-child(1) > div:nth-child(1) {
        width: 50%;
        max-width: 659px;
        margin-left: 0;
       }

       &:nth-child(2) > div:nth-child(1) > div:nth-child(2) {
        margin-top: 237px;
        width: 39%;
        max-width: 482px;
       }

       &:nth-child(4) > div:nth-child(1) > div:nth-child(2) {
        margin-top: 75px;
       }
       
      div.image-container--project:nth-child(3) {
        margin-top: -30px;
      }

      &--dual {
        margin-top: -150px;

        .project__scroll {
          gap: 59px;
          flex-direction: row;
        }
      }

      &--tri {
        margin-top: -140px;

        .project__scroll {
          gap: 70px;
          justify-content: center;
          flex-direction: row;
        }

        .image-container--project {
          max-width: 400px;
          width: 29%;
        }
      }
    }
  }

  .project__scroll {
    overflow-x: visible;
    align-items: flex-start;
    flex-direction: row;
  }

  .work {
    max-width: 1600px;
    margin: 0 auto;

    &__hero {
      margin-bottom: 150px;

      .title {
        width: 710px;
      }

      .about__para {
        width: 652px;
        font-size: 24px;
      }
    }

    &__info {
      padding: 0 45px;

      h2 {
        margin-bottom: 40px;
      }
    }

    &__plus {
      margin-bottom: 53px;
    }

    &__project {
      margin: 0;
    }

    .image-container {
      width: min(43%, 600px)
    }

    &__images {
      gap: 117px 152px;
      width: 100%;
      margin-bottom: 230px;
    }

  }

  .services {
    &__hero {
      .title, .about__para {
        width: 600px;
      }
    }

    &__item {
      width: 90%;
      max-width: 1800px;
    }

    &__title { 
      gap: 16px; 

      &::after {
        width: 7%;
        max-width: 110px;
      }
    }

    &__name { font-size: 100px; }

    &__price { margin-bottom: 10px; }

    &__para {
      width: 869px;
      margin: 50px 0 70px;
    }

    &__list {
      gap: 40px 73px;
      align-self: center;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: row;
    }

    &__listItem {
      width: 42%;

      p {
        align-self: flex-start;
      }
    }

    &__arrow {
      width: 15px;
      margin-top: 6px;
    }

    &__btn {
      margin: 140px 0 110px;
      font-size: 40px;
      display: flex;
      align-items: center;
      align-self: center;
    }
  }

  .cta {
    .title {
      width: 700px;
    }

    &__link {
      font-size: 40px;
    }
  }
}

@media screen and (min-width: 1440px) {

  .title {
    &--about {
      margin-bottom: 29px;
    }
  }

  .about {

    &__rolesContainer {
      gap: 10px;
      margin-bottom: 33px;
    }

    &__subtitle {
      margin-bottom: 34px;

      &::after {
        bottom: -16px;
      }
    }

    &__para {
      width: 85%;
    }
  }
}

@media screen and (min-width: 1600px) {
  .project {
    &__images {
      &--tri {
        .project__scroll {
          gap: 125px;
        }

        .image-container--project {
          width: 31%;
        }
      }
    }
  }
}